@import url('http://fonts.cdnfonts.com/css/dm-sans');

:root {
    --color_principal: #ffff00;
    --color_secundario: #ffffaa;
    --color_letras: #2b2828;
    --color_letras_secundario: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

.content {
    width: 100%;
    padding-top: 75px;
}

.main {
    width: 100%;
}


.left {
    width: 50%;
    height: 450px;
    float: left;
    display: grid;
}

.right {
    width: 40%;
    height: 450px;
    float: right;
    padding-right: 5%;
    padding-top: 15px;
    display: grid;
}

.content_table {
    width: 100%;
    display: grid;
    padding-left: 20px;
}

.alert {
    padding: 20px;
    color: #970020;
    background-color: #ffd5de;
}

h2 {
    font-size: 35px;
    margin-top: 30px;
    letter-spacing: 2px;
    color: var(--color_letras);
}

h3 {
    padding-top: 25px;
    font-size: 28px;
    color: var(--color_letras);
}

h4 {
    font-size: 15px;
    padding-left: 22px;
    margin-top: 15px;
    letter-spacing: 2px;
}

table {
    width: 100%;
    padding-top: 20px;
    padding-right: 50px;
    /*random*/
}

th,
td {
    text-align: center;
    vertical-align: top;
    padding-bottom: 10px;
    font-size: 11px;
}

th {
    background: #495863;
    color: white;
    font-size: 15px;
    padding: 10px;
}


form {
    padding: 10px;
    padding-left: 60px;
}

form h2 {
    padding-left: 0;
}

label {
    font-size: 20px;
    color: #495863;
}

input {
    width: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
}

.submit {
    margin-top: 10px;
    background-color: var(--color_principal);
    color: var(--color_letras);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border-color: var(--color_letras);
    /*border: none;*/
}

.submit:hover {
    color: var(--color_letras_secundario);
    cursor:pointer;
}

/*Barra superior*/
.navbar {
    height: 75px;
    margin: auto;
    background-color: var(--color_secundario);
    border-bottom: 1px solid black;
}

.icon {
    width: 50%;
    float: left;
    height: 70px;
    padding-top: 20px;
    padding-left: 5%;
}

.menu {
    float: left;
    height: 70px;
    width: 35%;
    /* Prueba con dev tools*/
}

ul {
    /*float: left;*/
    display: flex;
    justify-content: right;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {

    text-decoration: none;
    color: var(--color_letras);
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: var(--color_letras_secundario);
    cursor:pointer;
}

p {
    font-size: 20px;
    margin-top: 30px;
}